# LISTS

# task 1
## Take a list of elements and add that list into another empty list

In [1]:
a=[1,2,3,4,56,7]
b=[]
b.extend(a)
a

[1, 2, 3, 4, 56, 7]

# task 2
## Sort the list of elements in ascending order and descending order.

In [7]:
a=[1,212,323,4,72,5,]
a.sort()
print(a)
b=sorted(a,reverse=True)
print(b)

[1, 4, 5, 72, 212, 323]
[323, 212, 72, 5, 4, 1]

# task 3
## Given a two list of equal size create a list such that it shows the element from both lists in the pair

In [9]:
a=[9,6,7,3,4]
b=[2,5,7,8,9]
c=[]
d=[]
for i in range(len(a)):
    c.append(a[i])
    c.append(b[i])
    d.append(c)
    c=[]
print(d)

[[9, 2], [6, 5], [7, 7], [3, 8], [4, 9]]

# task 4
## Write a python program to print the sum and average of elements in the list.

In [11]:
l=int(input())
a=[]
Sum=0
for i in range(l):
    a.append(int(input()))
for i in range(l):
    Sum+=a[i]
print(Sum," is sum of values")
print((Sum/l)," is the average of values")

10
1
2
3
4
5
6
7
8
9
10
55  is sum of values
5.5  is the average of values

# tuples

# task 1
## Python program to reverse the given elements in tuple.

In [21]:
a=(1,2,3,4,5,6,7)
l=len(a)-1
b=()
while(l>=0):
    b=b+(a[l],)
    l-=1
print(b)

(7, 6, 5, 4, 3, 2, 1)

# task 2
## Python program to print names in tuples using iterations

In [23]:
l=int(input("length"))
a=()
for i in range(0,l):
    a=a+((input()),)
for i in range(0,l):
    if a[i].isalpha():
        print('name in given data is',a[i])

length4
sai
chai
1505
1508cb
name in given data is sai
name in given data is chai

# set

# task
## Take two sets and print the result using methods like Union, Difference and so on.

In [25]:
a={12,21,232,334,1323}
b={2,1231,232,1323,838,12}
print(a.union(b))
print(a.difference(b))
print(a.intersection(b))
print(a.pop())
print(a.isdisjoint(b))
print(a.discard(b))
print(a)
print(b)

{2, 838, 232, 1323, 12, 334, 1231, 21}
{21, 334}
{232, 1323, 12}
232
False
None
{1323, 12, 334, 21}
{2, 838, 232, 1323, 12, 1231}